<!DOCTYPE html>
<html>
    <head>
        <title>This is my website</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="content-type" content="text/html, charset=UTF-8">
        <meta name="description" content="用gulp快速搭建你的前端工作环境，可以根据需要使用jade，scss等前端技术">
        <meta name="keywords" content="gulp,jade,scss">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <script src="libs/jquery/jquery.min.js"></script>
    </head>
    <body>
        <div class="header">Here is header</div><br>
        <div class="container">Here is container</div><br>
        <div class="footer">Here is footer</div>
    </body>
</html>