doctype html
html
	head
		title #{title}
		meta(charset="utf-8")
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name="description", content=description)
		meta(name="keywords", content=keywords)
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		link(rel="stylesheet", href="./css/app.css")
		block css
	body
		block header
			header header
		block container
			div container
		block footer
			footer footer
		<!--[if (gte IE 10)|!(IE)]><!-->
		script(src="./libs/jquery/dist/jquery.min.js")
		<!--<![endif]-->
		<!--[if lte IE 9 ]>
		script(src="//cdn.bootcss.com/jquery/1.9.0/jquery.min.js")
		<![endif]-->
		script(src="./js/app.js")
		block script
