extends layout/layout
append css
	link(rel="stylesheet", href="css/index.css")
append top-script
	script(src='js/index.js')
block header
	.header
block container
	.container
		h1 #{content}
block footer
	.footer