<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title #{title}
	link(rel="stylesheet", href="css/index.css")
body
	h1 #{content}
	if (skills.length)
		p I have some skills:
		ul
		- skills.forEach(function(item){
			li #{item.name}, level #{item.level}
		- })
	else
		p I have no skill.